<div class="row ms-2 mt-2">
    <div class="col-2">
        <button routerLink="/dashboard" mat-raised-button color="accent"> <mat-icon>keyboard_arrow_left</mat-icon> Back</button>
    </div>
</div>
<div class="container">
    <div class="body mt-2">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Set Stand-ups Time">
                <div class="first d-flex justify-content-center">
                    <table class="table mt-3" style="width: 600px;">
                        <thead>
                          <tr>
                            <th scope="col">Sr No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Stand-ups Time</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of users; index as i">
                            <td>{{ i+1 }}</td>
                            <td>{{ user.name }}</td>
                            <td style="font-weight: 700;" *ngIf="user.popupDate !== ''">{{ user.popupDate | date:'shortTime' }}</td>
                            <td *ngIf="user.popupDate === ''">No Time is Set</td>
                            <td (click)="openDialog(user)"><div class="edit">Edit</div></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="Retro" style="height: 900px;">

                <div *ngIf="showRetroToggle === false" class="second">
                    <h5 class="mt-3">
                        See Stand-ups Retro Of:
                    </h5>
                    <div class="row p-2">
                        <div *ngFor="let user of users" class="col-4 mt-3 d-flex justify-content-center">
                          <mat-card (click)="showRetro(user)" class="cards d-flex justify-content-center" style="background-color: rgb(191, 190, 190); background-color: opacity(0.6); width: 100%;">
                            {{ user.name }}
                          </mat-card>
                        </div>
                    </div>
                </div>

                <div *ngIf="showRetroToggle === true" class="second "> 

                    <div style="margin-left: 220px; margin-top: 10px; margin-bottom: 40px;">
                        <button (click)="showRetroToggle = false" color="warn" mat-mini-fab> <mat-icon>keyboard_arrow_left</mat-icon> </button>
                    </div>

                    <div *ngIf="dataSource.length !== 0">
                        <h5 style="margin-left: 226px; margin-bottom: 20px;">
                            Stand-ups Retro Of: <span style="font-weight: 700; font-size: 16px;">{{ currEmpName }}</span> 
                        </h5>
                    </div>
                    
                    <div class="d-flex justify-content-center">
                        <table *ngIf="dataSource.length !== 0" class="table mt-3" style="width: 850px;">
                            <thead>
                              <tr>
                                <th scope="col">Sr No.</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date</th>
                                <th scope="col">isCompleted?</th>
                              </tr>
                            </thead>
                            <tbody >
                              <tr *ngFor="let data of dataSource; index as i">
                                <td>{{ i+1 }}</td>
                                <td>{{ data.title }}</td>
                                <td>{{ data.description }}</td>
                                <td>{{ data.date | date }}</td>
                                <td *ngIf="data.isCompleted === true">Yes</td>
                                <td *ngIf="data.isCompleted === false">No</td>
                              </tr>
                            </tbody>
                        </table>

                        <div *ngIf="dataSource.length === 0" class="no-available d-flex justify-content-center align-items-center">
                            <h5>
                                No Stand-Ups Data Available!
                            </h5>
                        </div>
                    </div>

                    

                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>