.main {
  width: 45rem;
  height: 22rem;
  border: 0.5px solid gray;
  padding: 3px;
  border-radius: 25px;
}
i {
  font-size: 18px;
  padding-left: 10px;
  cursor: pointer;
}
.long{
  height: 24rem;
}
a:hover{
  color: blue;
}
.main-any {
  width: 45rem;
  height: 28rem;
  border: 0.5px solid gray;
  padding: 3px;
  border-radius: 25px;
}